import logging

from peewee import MySQLDatabase


# database setting

DATABASE = MySQLDatabase('your_database', user='', host='',
    password='', charset = 'utf8')


# log

logging.basicConfig(level=logging.INFO, filename='crawler.log')
